[Unit]
Description=A script that checks if your passwords are compromised
After=syslog.target network.target

[Service]
WorkingDirectory=/home/dumi/Projects/Password_Checker/src/
ExecStart=/home/dumi/Projects/virtual-envs/Password_Checker/bin/python3 password_checker.py

[Install]
WantedBy=multi-user.target
